.book-section {
    width: 75%;
    height: auto;
}

.book-section>.container {
    height: 670px;
    flex-basis: 80%;
}

.ContentTable {
    font-family: BlueFamily;
}

.menuTable {
    font-family: BlueFamily;
    width: 100%;
    padding: 20px;
}

table {
    table-layout: fixed;
    width: 100%;
    padding: 20px;
    border-collapse: collapse;
}

tr {
    width: 50px;
    font-size: 20px;
    align-items: center;
}

td {
    padding: 9px 0px 9px 40px;
    text-align: left;
}

.book-sections {
    height: auto;
    width: 80%;
    padding: 40px;
    text-align: center;
}

.book-sections>.containers {
    height: 600px;
    width: 800px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2%;
    /* margin-top: 50px; */
    /* margin-bottom: 20px; */
    perspective: 1200px;
}

.PrevB {
    float: left;
    margin-left: 0%;
}

.flip {
    transform: rotateY(-180deg);
}

.flip::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    border-radius: 0 10px 10px 0;
    background-color: rgba(0, 0, 0, 0.05);
}

.containers>.right {
    position: absolute;
    height: 100%;
    width: 50%;
    transition: 0.7s ease-in-out;
    transform-style: preserve-3d;
}

.book-sections>.containers>.right {
    right: 0;
    transform-origin: left;
    border-radius: 10px 0 0 10px;
}

.mainBlock {
    display: flex;
    justify-content: center;
    width: 100%;

}

.payment-section {
    opacity: 0;
    transition: all 0.5s ease-in-out;
    width: 0%;
    height: 98vh;
    padding: 40px 40px 40px 0px;
}

.payment-section.active {
    width: 25%;
    opacity: 1;
}

.author {
    font-size: 30px;
    color: black;
    font-family: 'Segoe UI';
}

.catchLine {
    font-size: 20px;
    color: black;
    font-family: BlueFamily;
}

.card {
    box-shadow: 2px 2px 15px -2px rgba(0, 0, 0, 0.9);
    height: 670px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.title-payment {
    font-size: 30px;
    text-align: center;
    padding: 40px 20px;
    letter-spacing: 0px;
    font-family: BlueFamily;
    text-transform: uppercase;
    font-weight: bold;
    color: #b97c01;
}

.nameDiv {
    font-size: 21px;
    font-family: BlueFamily;
    font-weight: 500;
    text-align: left;
    text-transform: capitalize;
    padding-bottom: 5px;
}

.description {
    font-size: 16px;
    font-family: BlueFamily;
    font-weight: 200;
    text-align: left;
    padding-bottom: 10px;
}

tr:nth-child(even) {
    background-color: none;
}

tr:nth-child(odd) {
    background-color: #b97c0144;
}

.categoryStyling {
    font-size: 30px;
    font-weight: 600;
    padding: 40px 0px 20px 40px;
    color: #b97c01ff;
    text-align: left;
}

.menuTable td:nth-child(1) {
    width: 37%;
}

.menuTable td:nth-child(2) {
    width: 10%;
}

.menuTable td:nth-child(3) {
    width: 20%;
}

.quantity {
    padding: 10px;
    width: 90px;
}

.tableClass {
    height: 70%;
    overflow-y: scroll;
}